<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.EventMapper">

	<select id="eventList" resultType="com.yedam.vo.EventVO">
		SELECT
        TITLE,
        START_DATE  AS "start",
        END_DATE    AS "end"
        FROM tbl_event
	</select>
	
	<insert id="addEvent" parameterType="com.yedam.vo.EventVO">
		INSERT INTO tbl_event (TITLE, START_DATE, END_DATE)
        VALUES (#{title}, #{start}, #{end})
	</insert>
	
	<delete id="deleteEvent" parameterType="String">
	    delete from tbl_event
		where title = #{title}
	</delete>
	
</mapper>